.heading {
  font-weight: normal;
  color: #272727;
  text-align: center;
}

.ships {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 1rem;
}

.ship {
  width: 75%;
  background-color: #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ship a {
  font-size: 1.3rem;
  color: #272727;
  cursor: pointer;
}

.ship a:hover {
  text-decoration: underline;
}

.ship_tags {
  margin-top: 10px;
  display: flex;
  gap: 1.125rem;
}

.ship_status {
  padding: 0.25rem 1rem;
  border-radius: 999px;
  font-size: 12px;
  border: 1px solid #272727;
}

.active {
  background-color: #272727;
  color: #fafafa;
}

.inactive {
  background-color: #fafafa;
  color: #272727;
}

.type {
  border-color: #005288;
  background-color: #005288;
  color: #fafafa;
}
